<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aps.user.apssolutions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".User"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".FranchiseLoginActivity"
            android:label="Franchise Login" />
        <activity
            android:name=".AddOrder"
            android:label="Add Order" />
        <activity
            android:name=".FranchiseDashboard"
            android:label="@string/title_activity_franchise_dashboard" />
        <activity
            android:name=".AddSignature"
            android:label="Add Signature" />
        <activity
            android:name=".Orders"
            android:label="Order" />
        <activity
            android:name=".Signatures"
            android:label="Signature" />
        <activity android:name=".ShowOrders" />
        <activity
            android:name=".CustomerDashboard"
            android:label="@string/title_activity_customer_dashboard" />
        <activity android:name=".CustomerLoginActivity" />
        <activity android:name=".CustomerOrders" />
        <activity android:name=".UpdateSignature"></activity>
    </application>

</manifest>